{
  "tabWidth": 2,
  "semi": true,
  "importOrder": [
    "react",
    "^app/(.*)$",
    "^entities/(.*)$",
    "^features/(.*)$",
    "^pages/(.*)$",
    "^shared/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
